<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="static/css/magnifier.css">
    <link href="static/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Icelandic Photo Data</a>
            </li>
            <li>
                <a href="/index"><span class="glyphicon glyphicon-th-large"></span> Overall</a>
                <ul id="sidebar-sublist">
                    <li>
                        <a href="/index?year=2014"><span class="glyphicon glyphicon-time"></span> 2014</a>
                    </li>
                    <li>
                        <a href="/index?year=2013"><span class="glyphicon glyphicon-time"></span> 2013</a>
                    </li>
                    <li>
                        <a href="/index?year=2012"><span class="glyphicon glyphicon-time"></span> 2012</a>
                    </li>
                    <li>
                        <a href="/index?year=2011"><span class="glyphicon glyphicon-time"></span> 2011</a>
                    </li>
                    <li>
                        <a href="/index?year=2010"><span class="glyphicon glyphicon-time"></span> 2010</a>
                    </li>
                    <li>
                        <a href="/index?year=2009"><span class="glyphicon glyphicon-time"></span> 2009</a>
                    </li>   
                </ul>
            </li>
            <li>
                <a href="/testmap"><span class="glyphicon glyphicon-globe"></span> Map</a>
            </li>
            <li>
                <a href="/test"><span class="glyphicon glyphicon-camera"></span> Flickr</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-th-list"></span> 500px</a>
            </li>
            <li>
                <a href="/fttestmap"><span class="glyphicon glyphicon-signal"></span> Timeline</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-send"></span> History</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-stats"></span> Locations</a>
            </li>
          </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a id="menu-toggle" href="#"><i class="fa fa-times fa-3"></i></a>
                        <h1 class="page-header">
                            Icelandic photo data <small>Statistics Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- ./row -->

                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- ./row -->

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script --> 
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/event.js"></script>
    <!-- <script type="text/javascript" src="static/js/plugins/morris/raphael.min.js"></script>
    <script type="text/javascript" src="static/js/plugins/morris/morris-data.js"></script>
    <script type="text/javascript" src="static/js/plugins/morris/morris.min.js"></script> -->
  </body>
</html>